{%- if product.description != blank -%}
<div class="product-description-redesign" id="desc-redesign-{{ product.id }}">
  <div class="product-description-redesign__content rte">
    {{ product.description }}
  </div>
</div>
{%- endif -%}

<style>
  .product-description-redesign {
    display: block !important;
    width: 100% !important;
    margin-bottom: 2rem;
  }
  
  .product-description-redesign__content {
    font-size: 0.95rem;
    line-height: 1.6;
    font-weight: 300;
    color: #444;
    width: 100% !important;
  }
  
  @media screen and (min-width: 1025px) {
    .product-description-redesign__content {
      font-size: 0.85rem;
      color: #777;
    }
  }

  /* Force lowercase for redesign aesthetic if requested previously */
  .product-description-redesign__content p {
    text-transform: lowercase;
  }
</style>
