
<div class="product-vendor" {{ block.shopify_attributes }}>
  {{ closest.product.vendor }}
</div>

{% schema %}
{
  "name": "Product Vendor",
  "tag": null,
  "settings": [],
  "presets": [
    {
      "name": "Product Vendor"
    }
  ]
}
{% endschema %}
